@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 29, 68);
}
.currency-container{
    width: 400px;
    background-color: white;
    border: 0;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 28px;
    padding: 10px;
    text-align: center;
    color: blue;
    margin-bottom: 15px;
    border-bottom: 2px dashed #ccc;
    border-top: 2px dashed #ccc;

}

.box{
    width: 100%;
    height: 200px;
    background-image: url('./assets/currency_excahnge.png');
    background-size: cover;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

input,
select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
}

input:focus,
select:focus{
    border-color:#3498db;
}
.result{
    margin: 20px 0;
    padding: 10px;
    border: 2px dotted #3498db;
    border-radius: 5px;
}

.result p{
    margin: 10px 0;
    color: #3498db;
    font-weight: bold;
    text-align: center;
}